---
layout: main
title: Rescue Minecraft's Server Landscape
---

%h1 #{page.title}

%p.construction
    This site is still under construction. You can contribute on 
    %a{ href:"https://github.com/yawkat/minecrafteula.com" } GitHub.

%h2 Join The Open Discussion
%p
    In 2012 Mojang introduced changes to their Minecraft EULA which defines the legal boundaries players and even server owners have to act in. This change introduced new terms on server, plugin and modification monetization which forbid charging users for any contents in the game.
%p
    So far said terms have not been applied to servers yet. However it was confirmed that these rules will be enforced starting August 1st, 2014 with few exceptions which have proven to be not sufficient enough to make up for maintenance costs introduced by servers and network staff of most of our beloved Minecraft servers.
%p.largelink
    %a{ href:"https://mojang.com/2014/06/lets-talk-server-monetisation/" } Read the official statement

%p
    It is not too late though!
%p
    We want to introduce an open discussion leading to a middle ground between us (the content creators) and Mojang. So far the community was the reason why Minecraft has become such a big success and it should stay that way. Many of our creations lead to new features for Minecraft itself (Pistons are just one of the many examples). However a lot of these people gave up their jobs to be able to create innovative minigames, plugins, modifications and even complete independent stories within the game.
%p
    There are countless people involved into creating and maintaining all these great things in the Minecraft universe which are not affiliated with Mojang in any way and it should stay that way so we can get blown away by new things in the future, too!

%h2 Voices
%p
    There have been quite a few really good opinions on the topic so far. Read them here:
%ul
    %li
        %p
            %a{ href:"http://sterlingplays.com/" }
                An Open Letter to Notch
            by Mineplex